font_family      JetBrainsMono Nerd Font
bold_font        auto
italic_font      auto
bold_italic_font auto

font_size 11.0

foreground  {{ .colors.kitty.foreground }}
background  {{ .colors.kitty.background }}

color0     {{ .colors.kitty.color0 }}
color1     {{ .colors.kitty.color1 }}
color2     {{ .colors.kitty.color2 }}
color3     {{ .colors.kitty.color3 }}
color4     {{ .colors.kitty.color4 }}
color5     {{ .colors.kitty.color5 }}
color6     {{ .colors.kitty.color6 }}
color7     {{ .colors.kitty.color7 }}

color8     {{ .colors.kitty.color8 }}
color9     {{ .colors.kitty.color9 }}
color10    {{ .colors.kitty.color10 }}
color11    {{ .colors.kitty.color11 }}
color12    {{ .colors.kitty.color12 }}
color13    {{ .colors.kitty.color13 }}
color14    {{ .colors.kitty.color14 }}
color15    {{ .colors.kitty.color15 }}

background_opacity 0.8

