# ┏━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━┓
# ┃                     Defaults Configuration                  ┃
# ┗━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━┛

# General
$terminal = kitty
$filemanager = nautilus --new-window
$applauncher = $HOME/.config/hypr/scripts/wofi-launch.sh
$clipbuffer = $HOME/.config/hypr/scripts/wofi-cliphist.sh
$volume = $HOME/.config/hypr/scripts/volume.sh

# Screenshots
$shot-region = grimblast --freeze copy area
$shot-window = grimblast --freeze copy active
$shot-screen = grimblast --freeze copy output
