# ┏━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━┓
# ┃                       Layout Variables                      ┃
# ┗━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━┛

source = ~/.config/hypr/config/colors.conf

general {
    gaps_in = 6
    gaps_out = 12
    border_size = 3
    col.active_border = $active_border
    col.inactive_border = $inactive_border

    layout = dwindle

    allow_tearing = false
}

misc {
    disable_hyprland_logo = true
    disable_splash_rendering = true
    force_default_wallpaper = 0
    vrr = 2
}

ecosystem {
    no_donation_nag = 1
    no_update_news = 1
}

dwindle {
    pseudotile = yes
    preserve_split = yes
}

master {
    new_status = master
}
