#!/bin/bash

WALL_DIR="{{ .data.wallpapers_folder }}"

SELECTION=$(ls "$WALL_DIR" | wofi --dmenu --prompt "Change wallpaper..." --style $HOME/.config/wofi/style.css)

if [ -n "$SELECTION" ]; then
    FULL_PATH="$WALL_DIR/$SELECTION"
    
    matugen image "$FULL_PATH" \
        --type scheme-tonal-spot \
        --prefer lightness \
        -m dark \
        --lightness-dark 0.075

    mkdir -p "$HOME/.config/active-theme"
    ln -sfn "$FULL_PATH" "$HOME/.config/active-theme/wallpaper"

    notify-send "Wallpaper changed" -i "$FULL_PATH"
fi
