#!/bin/bash

WALL_DIR="{{ .data.wallpapers_folder }}"

SELECTION=$(ls "$WALL_DIR" | wofi --dmenu --prompt "Change wallpaper..." --style $HOME/.config/wofi/style.css)

if [ -n "$SELECTION" ]; then
    FULL_PATH="$WALL_DIR/$SELECTION"
    
    awww img "$FULL_PATH" \
        --transition-type "random" \
        --transition-duration 2 \
        --transition-fps 144 \
        --transition-bezier .43,1.19,1,.4 \
        --transition-step 90

    mkdir -p "$HOME/.config/active-theme"
    ln -sfn "$FULL_PATH" "$HOME/.config/active-theme/wallpaper"

    notify-send "Wallpaper changed" -i "$FULL_PATH"
fi
