anchor=top-right
margin=10
padding=16
width=400

max-icon-size=40
background-color={{ .colors.mako.background }}
text-color={{ .colors.mako.text }}
border-color={{ .colors.mako.border }}
border-size=2
border-radius=14
progress-color=over {{ .colors.mako.progress }}
font=Sarasa UI SC 10

max-visible=3
default-timeout=5000
sort=-time

[urgency=low]
default-timeout=3000

[urgency=normal]

[urgency=high]
text-color={{ .colors.mako.high_text }}
default-timeout=0

[mode=summary]
padding=12
