#!/bin/bash

# Directory hash: {{ output "bash" "-c" (printf "find '%s' -type f -exec sha256sum {} + | sort | sha256sum" (joinPath .chezmoi.sourceDir "dot_config/hypr")) }}

if pgrep -x "Hyprland" > /dev/null; then
    echo "Reloading Hyprland configuration..."
    hyprctl reload || true
fi
