add_newline = true

format = "($git_branch$git_status\n)$directory$character"

[directory]
style = "bold {{ .colors.starship.directory }}"
truncation_length = 3
format = "[$path]($style) "

[character]
success_symbol = "[❯](bold {{ .colors.starship.success }})"
error_symbol = "[❯](bold {{ .colors.starship.error }})"

[git_branch]
symbol = " "
style = "bold {{ .colors.starship.git }}"
format = "[$symbol$branch]($style)"

[git_status]
style = "bold {{ .colors.starship.git }}"
format = "[$all_status$ahead_behind]($style)"
